<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Bootstrap required meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>

    <title>CoEditor</title>

    <!-- Vue.js + axios -->
    <script src="js/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- BootstrapVue-->
    <script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

    <!-- Froala Editor -->
    <!-- Include external CSS. -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"
          type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.css">

    <!-- Include Editor style. -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.1/css/froala_editor.pkgd.min.css"
          rel="stylesheet" type="text/css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.1/css/froala_style.min.css" rel="stylesheet"
          type="text/css"/>
</head>
<body>
<div id="main" class="container-fluid" style="height: 100vh">

    <!-- Loading modal window -->
    <!-- Actually it is not seen on local machine due to high connection speed
    and immediate page loading
    -->
    <b-modal v-model="isPageLoading"
             size="sm"
             hide-header
             hide-footer
             no-close-on-backdrop
             no-close-on-esc>
        <p>Loading...</p>
    </b-modal>

    <!-- Error modal window -->
    <b-modal ref="errorsModal" v-model="hasErrors"
             title="Error occurred"
             size="sm" ok-only
             header-bg-variant="danger"
             @hidden="errorMessage=''">
        <p>{{ errorMessage}}</p>
    </b-modal>

    <!-- Banner & login info -->
    <div class="row">
        <h1 class="col-3">CoEditor</h1>
        <template v-if="username.length > 0">
            <div class="text-right col-9">
                <p class="text-dark"><em>You are logged in as: {{ username }}</em><br>
                    <b-link href="#" @click="logout">
                        Log out
                    </b-link>
                </p>
            </div>
        </template>
    </div>

    <!-- content -->
    <div class="row justify-content-center" style="height: 75vh;">
        <div class="col-4">

            <!-- create document section -->
            <div class="row">
                <div class="col-12">
                    <label class="col-form-label font-weight-bold">&nbsp;</label>
                    <div class="input-group mb-3">
                        <b-form-input id="docName" v-model.trim="documentName"
                                      placeholder="Type a name for new document"
                                      class="col-8"></b-form-input>
                        <b-button v-b-tooltip.hover title="create new!"
                                  @click="createDocument" variant="primary" class="col-4 ml-1">Create Document
                        </b-button>
                    </div>
                </div>
            </div>
            <b-alert variant="warning" :show="docNameError.length > 0">
                <b-button class="close" @click="closeDocNameWarning">&times;</b-button>
                <p>{{ docNameError }}</p>
            </b-alert>

            <!-- Available documents -->
            <div class="row">
                <div class="col-12">
                    <b-card class="mb-2 h-100">
                        <h4 slot="header">Available documents</h4>
                        <div class="pre-scrollable col-12">
                            <b-list-group v-if="docs.length && docs.length>0" class="h-100">
                                <b-list-group-item
                                        button
                                        v-for="doc in docs"
                                        :key="doc.id"
                                        :active="currentDocument && doc.id == currentDocument.document.id"
                                        @click="loadDocument(doc.id)">
                                    {{ doc.name }}
                                    </b-list-group-itembutton>
                            </b-list-group>
                            <p v-else>There are no documents. Create new!</p>
                        </div>
                    </b-card>
                </div>
            </div>

        </div>

        <div class="col-8">
            <div class="row">
                <div class="col-6">

                    <!-- document version controls -->
                    <template v-if="currentDocument">
                        <b-btn-group v-if="!labellingMode">
                            <b-dropdown variant="outline-primary" v-b-tooltip.hover title="select document version">
                                <div class="pre-scrollable" style="height: 200px">
                                    <b-dropdown-item-button v-for="version in docVersions"
                                                            :key="version.primaryKey"
                                                            @click="loadLabelledDocument(currentDocument.primaryKey.documentId, version)">
                                        {{ version }}
                                    </b-dropdown-item-button>
                                </div>
                            </b-dropdown>
                            <b-button :disabled="observingOldVersion" variant="outline-primary"
                                      @click="labellingMode=true"
                                      v-b-tooltip.hover title="label this version!">
                                <em>{{ currentDocument.document.name }}</em>,
                                <span v-if="!observingOldVersion">last edit</span>
                                <span v-else>edited</span> on:
                                {{ currentDocument.primaryKey.modificationTime }}
                            </b-button>
                            <b-button v-if="observingOldVersion" variant="outline-primary"
                                      @click="loadDocument(currentDocument.primaryKey.documentId)"
                                      v-b-tooltip.hover title="return to the latest version">
                                &#10227;
                            </b-button>
                        </b-btn-group>
                        <b-input-group v-else>

                            <b-button variant="outline-primary"
                                      v-b-tooltip.hover title="cancel"
                                      @click="labellingMode = false">
                                &times;
                            </b-button>
                            <b-form-input v-model.trim="versionLabel"
                                          placeholder="Type version label here"></b-form-input>
                            <b-button variant="outline-primary"
                                      @click="pushDocumentVersion"
                                      v-b-tooltip.hover title="save version!"
                                      :disabled="versionLabel.trim().length == 0 || versionLabel.trim().toLowerCase() == 'all'">
                                &#x2713;
                            </b-button>
                        </b-input-group>
                    </template>
                    <label v-else class="col-form-label">&nbsp;</label>
                </div>

                <!-- active users -->
                <div class="col-6 text-right">
                    <label v-if="activeUsers.length > 0"
                           class="col-form-label"><i>{{ activeUsers }}</i>
                    </label>
                </div>
            </div>

            <!-- working field -->
            <div class="row justify-content-center h-100 mt-1">
                <div class="col-12">

                    <!-- text area -->
                    <editor :disabled="!currentDocument || processStatus == ProcessStatus.fetching || observingOldVersion"
                            v-model="documentData"></editor>

                    <template v-if="currentDocument">

                        <!-- status of changes -->
                        <div class="row justify-content-center">
                            <template v-if="processStatus == ProcessStatus.idle">
                                <label class="col-form-label text-muted" v-if="commitStatus == CommitStatus.noData">
                                    no data
                                </label>
                                <label class="col-form-label text-muted"
                                       v-else-if="commitStatus == CommitStatus.justLoaded">
                                    just loaded
                                </label>
                                <label class="col-form-label text-muted"
                                       v-else-if="commitStatus == CommitStatus.modified">
                                    modified, preparing to push...
                                </label>
                                <label class="col-form-label text-muted"
                                       v-else-if="commitStatus == CommitStatus.pushed">
                                    changes saved
                                </label>
                                <label class="col-form-label text-muted"
                                       v-else-if="commitStatus == CommitStatus.fetched">
                                    fetched
                                </label>
                            </template>
                            <label v-else-if="processStatus == ProcessStatus.pushing" class="col-form-label text-muted">
                                pushing...
                            </label>
                            <label v-else-if="processStatus == ProcessStatus.fetching"
                                   class="col-form-label text-muted">
                                fetching...
                            </label>
                        </div>
                    </template>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Include external JS libs. -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/mode/xml/xml.min.js"></script>

<!-- Include Editor JS files. -->
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.1/js/froala_editor.pkgd.min.js"></script>


<script src="js/editor.js"></script>
<script src="js/main.js"></script>

</body>
</html>