<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Bootstrap required meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Login</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>

    <!-- Vue.js + axios -->
    <script src="js/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- BootstrapVue-->
    <script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
</head>
<body>
<div id="main" class="container-fluid">

    <b-modal ref="errorsModal" v-model="hasErrors"
             title="Error occurred"
             size="sm" ok-only
             header-bg-variant="danger"
             @hidden="errorMessage=''">
        <p>{{ errorMessage}}</p>
    </b-modal>

    <div class="row">
        <h1 class="col-3">CoEditor</h1>
    </div>

    <br>
    <div class="row pt-2 pl-2 justify-content-center">
        <p>You must be logged in in order to be able to work with documents</p>
    </div>

    <template v-if="loginMode">
        <div class="row justify-content-center">
            <b-form @submit.stop.prevent="doLogin" class="mb-2">
                <b-form-group label="Username"
                              label-for="inputUsername">
                    <b-form-input id="inputUsername" v-model="username"
                                  placeholder="Enter your username">
                    </b-form-input>
                </b-form-group>
                <b-form-group label="Password" label-for="inputPassword">
                    <b-form-input id="inputPassword" v-model="password"
                                  placeholder="Enter your password" type="password">
                    </b-form-input>
                </b-form-group>
                <div class="text-center">
                    <b-button type="submit" variant="primary" size="sm">Log in</b-button>
                </div>
            </b-form>
        </div>
        <div class="row justify-content-center">
            <p>Do not have an account yet?
                <b-link href="#" @click="switchMode">Sign up!</b-link>
            </p>
        </div>
    </template>
    <template v-else>
        <div class="row justify-content-center">
            <b-form @submit.stop.prevent="register" class="mb-2">
                <b-form-group label="Username"
                              label-for="inputUsername">
                    <b-form-input id="inputUsername" v-model="username"
                                  placeholder="Enter your username">
                    </b-form-input>
                </b-form-group>
                <b-form-group label="Password" label-for="inputPassword">
                    <b-form-input id="inputPassword" v-model="password"
                                  placeholder="Enter your password" type="password">
                    </b-form-input>
                </b-form-group>
                <div class="text-center">
                    <b-button type="submit" variant="primary" size="sm">Sign Up</b-button>
                </div>
            </b-form>
        </div>
        <div class="row justify-content-center">
            <p>Already have an account?
                <b-link href="#" @click="switchMode">Log in!</b-link>
            </p>
        </div>
    </template>
</div>
<script src="js/login.js"></script>

</body>
</html>